#h-center {
    border-bottom-width: 4em;
}
#nav {
    width:80%;
    position: relative;
    top: -2em;
}
#nav ul {
    display:block;
}
.mob-link {
    color: #222222;
}
#main {
    width: 80%;
    left: 10%;
}
