body {background:#222222; color:#DAA520;}
h1 {text-align:center; font-family:courier; font-size:26; border-bottom-style:solid; border-bottom-width:.4em;}
#title {word-spacing:-.3em;}
ul {list-style-type:disc;}
.left {float:left; margin-left:20px; margin-top:20px;}
sup {vertical-align: super; font-size:.7em;}
a {color:#DAA520;}
a:visited {color:#8E6B14;}
